[run]
omit =
    */migrations/*
    */tests/*
    manage.py
    wsgi.py
    asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    if self\.debug
    raise NotImplementedError
    if __name__ == .__main__.:
